<div class="base-container mw-md">
  <h2><%= @text.title %></h2>
  <p><%= markdown(@text.content) %></p>
  <p id="text-<%= @text.id %>">
    <% if @text.read_by?(current_user) %>
    <%= render "read", post: @text %>
  <% else %>
    <%= render "unread", post: @text %>
  <% end %>
</div>